{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Mapping Tool - TalTech DrifterTrack</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}" >
</head>

<body>
  <h2 style="text-align: center;"  >TalTech DrifterTrack 2019 - Mapping Tool</h2>
  <div class="toolbar">
      Select a drifter IMEI: 
      <select id="selectImei" >
          {% for i in imeis %}
          <option value="{{ i }}" {% if selected == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        <a id="bUpdate" href="{% url 'mu201smapper' %}{% if selected %}{{ selected }}{% endif %}" class="btn" >Update map</a>
    </div>
  
  <div class="map" id="map"></div>

  

  <script src="{% static "js/vendor/modernizr-3.6.0.min.js" %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>

  <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDd9yC-KAlRbLVG9vNUJXCJjdi3DnxWXiU&language=en"></script>

  <script>
    $(function() {


        $("#selectImei").change(function(){
            var base_url = "{% url 'mu201smapper' %}";
            $("#bUpdate").attr("href", base_url+$(this).val());

            
        
        });
    
      window.map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        scrollwheel: true,
        center: new google.maps.LatLng(59.91, 27.26),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControl: false,
        mapTypeControl: false,
        scaleControl: false,
        panControl: false,
        navigationControl: false,
        streetViewControl: false,
        gestureHandling: 'cooperative',

        // Google Map Style
        styles: [{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#747474"},{"lightness":"23"}]},{"featureType":"poi.attraction","elementType":"geometry.fill","stylers":[{"color":"#f38eb0"}]},{"featureType":"poi.government","elementType":"geometry.fill","stylers":[{"color":"#ced7db"}]},{"featureType":"poi.medical","elementType":"geometry.fill","stylers":[{"color":"#ffa5a8"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#c7e5c8"}]},{"featureType":"poi.place_of_worship","elementType":"geometry.fill","stylers":[{"color":"#d6cbc7"}]},{"featureType":"poi.school","elementType":"geometry.fill","stylers":[{"color":"#c4c9e8"}]},{"featureType":"poi.sports_complex","elementType":"geometry.fill","stylers":[{"color":"#b1eaf1"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":"100"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"},{"lightness":"100"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffd4a5"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffe9d2"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"weight":"3.00"}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"weight":"0.30"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels.text.fill","stylers":[{"color":"#747474"},{"lightness":"36"}]},{"featureType":"road.local","elementType":"labels.text.stroke","stylers":[{"color":"#e9e5dc"},{"lightness":"30"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":"100"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#d2e7f7"}]}]

      });

      {% if packets %}
       var trajectory=[];
        var bounds = new google.maps.LatLngBounds();
        {% for p in packets %}
            var dd = parseInt("{{ p.content.lat }}".substr(0,2));
            var mm = parseFloat("{{ p.content.lat }}".substr(2));
            var plat = dd + mm/60.0;
            dd = parseInt("{{ p.content.lon }}".substr(0,3));
            mm = parseFloat("{{ p.content.lon }}".substr(3));
            var plon = dd + mm/60.0;

            trajectory.push({lat: plat, lng: plon });
            bounds.extend({lat: plat, lng: plon });
        {% endfor %}
        var Path = new google.maps.Polyline({
          path: trajectory,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        Path.setMap(map);
        map.fitBounds(bounds);



        console.log(trajectory);
      {% endif %}
    
    });

  </script>

</body>

</html>
