

{% extends "admin/base.html" %}

{% load staticfiles %}

{% block extrastyle %}
<style>
body {
    background-image: url('{% static "img/sea.jpg" %}') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

h1  {
    color: #eee !important;
}

.module h2, .module caption, .inline-group h2, #header {
    background: #b72e76;
}

div.breadcrumbs {
    background: #ab0b5f;

}

.object-tools a:focus, .object-tools a:hover {
    background: #e91e63;

}
</style>

{%  endblock %}


{% block title %}
    DrifterTrack 2019
{% endblock %}


{# Setup branding #}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
              <img src="{% static 'img/logo.jpg' %}" style="max-height: 2.0em;" />
        </a><br><span>TalTech Drifter Track<b>2019</b></span>
    </h1>
{% endblock %}


{% block nav-global %}
{% endblock %}


{% block footer %}
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: auto;
        text-align: center;
        font-size: smaller;
        padding: 5px;
        border-top: solid 1px #ccc;
        background: #eee;
    }


    .hidden-xs { display: auto; }

    @media(max-width:767px){
        .hidden-xs { display: none; }
    }

    .footer a {
        color: black;
    }

    .footer img {
        vertical-align: middle;
    }
</style>
    <div id="footer" class="footer ">
    <a href="https://www.recursive.ee">
         <span class="hidden-xs">&copy 2019 Developed by AG at Laboratory of Wave Engineering | TalTech, Tallinn, Estonia</span> Drifter Track Version 1.27 (January 2019)<br>
         <img src="{% static 'img/eulogo.png' %}" style="max-height: 4.0em; margin-right: 20px;" />&nbsp;<b>The application is built with the support by the Estonian Research Infrastructures Roadmap object "Infotechnological Mobility Observatory (IMO)", funded by European Regional Development Fund.</b>


         
    </a>
    </div>
{% endblock %}
